.education-section , .resume-section{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    flex-direction: column;
    gap:1.2rem;
    margin-top:1rem;
}

.resume-section{
    width:70%;
}

.heading-section{
    display:flex;
    justify-content: baseline;
    align-items: baseline;
    gap:1.4rem;
}